<!DOCTYPE html>
<html>
<head>
	<title>CyberPatriot Unofficial Scoreboard</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="icon" type="image/png" href="./static/imgs/favicon.png">
</head>
<body>

	<div class="main">
		<div class="card">
			<input type="text" class="watch search">
		</div>
	</div>

    <ul id="liststatus">
	</ul>

	<div class="loader_wrapper">
		<div class="loader">
			<div class="lead animated infinite bounce"></div>
		</div>
	</div>

	<div class="main">
		<div class="menu">
			<h4 class="logo">CyberScrapper</h4>
			<p class="lastmod">(Last Fetch: . . . )</p>
			<ul class="menu">
				<li class="menu"><a id="menu" class="payment" href="https://paypal.me/vijaysrinivas"><i class="material-icons" style="font-size:12px; margin-right: 4px;">monetization_on</i>Donate</a></li>
				<li class="menu"><a id="menu" href="#">Help</a></li>
			</ul>
		</div>

		<input type="text" id="mainsearch" class="search" placeholder="Cyberpatriot ID (ex. 08-0217)">

		<div class="settings">
			<a class="btn setting" href="#">Watch</a>
			<a class="btn" id="sort" href="#">Sort by...</a>
			<a class="btn choices"><input id="notifications" type="checkbox" name="notify"></input>Enable Notifications?</a>
			<span id="noti_fail" class="hide">
				<i class="material-icons md-12">info</i>
				<a href="https://support.google.com/chrome/answer/3123708" style="float: right; margin: 0; color: white; margin-right: 3px;">Notifications have already been blocked!</a>
			</span>
			<span id="noti_keepalive" class="hide" title="Note: You've wished to not be notified by this website, but your browser still allows the website to push notifications.">
				<i id="noti_ic" class="material-icons" style="font-size: 15px;">announcement</i>
			</span>
		</div>

		<ul class="sorter">
			<li class="sorter" id="sorter-score"><a class="sorter" href="#">Score</a></li>
			<li class="sorter" id="sorter-division"><a class="sorter" href="#">Divison</a></li>
			<li class="sorter" id="sorter-location"><a class="sorter" href="#">Location</a></li>
			<li class="sorter" id="sorter-tier"><a class="sorter" href="#">Tier</a></li>
		</ul>

		<div class="chart">
			<div class="watcher">
				<div class="watcher_inner"></div>
				<div class="watcher_body">
					<div class="watcher lead animated infinite bounce"></div>
				</div>
			</div>

			<div id="label-container">
				<span id="label-holder">
				</span>
				<span id="label-clear">
				</span>
			</div>

			<div class="charter">
				<table id="example" class="chart" cellspacing="0" width="100%">
					<thead>
						<tr class="heading">
							<th>GR</th>
							<th>DR</th>
							<th>Team ID</th>
							<th>Loc.</th>
							<th>Division</th>
							<th>Tier</th>
							<th>Time</th>
							<th>Score</th>
							<th>Penalties</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		</div>

	<div class="dialog hide">
			<h4 style="font-size: 20px; color: #949494; margin: 0; padding-bottom: 10px; font-weight: 400; border-bottom: 1px solid #949494">Watch Editor</h4>
			<input type="text" placeholder="Cyberpatriot ID (ex. 08-0217)" class="normal-searcher">
            <ul id="watchlist">
				<div class="empty">
					<i class="material-icons">info_outline</i>
					<p class="empty">Collection is empty</p>
				</div>
            </ul>
            <div class="watchaction">
            <button class="btn save unneeded" disabled>Save</button> <button class="btn cancel">Cancel</button><button class="btn more">More</button>
		    </div>

			<div class="dialog extended">
				<a href="#" id="nationals"><div class="option_tag"><i class="circle" id="nationals_sub"></i><p class="option_tag_p">Highlight Nationals (Open Division Only)</p></div></a>
				<a href="#" id="logdown"><div class="option_tag"><i class="circle" id="logdown_sub"></i><p class="option_tag_p">Enable Logging</p></div></a>
				<a href="#" id="download"><div class="download_tag"><i class="material-icons" id="download_sub">file_download</i></div></a>
			</div>
        </div>

</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/t/dt/dt-1.10.11,r-2.0.2,sc-1.4.1/datatables.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/store.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/watcher.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/notify.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/js_entry.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>